@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400, 700');


body {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  z-index: -10;
  /*background-image: url(irene.png);*/
  background-color: #23272a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: blur(50px);*/
  /*transform: scale(1.05);*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 100;
  color: #ecf0fc;
}

.irene {
  min-height: 100%;
  position: relative;
  /* padding: 0px 10%; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 0px;
  height: 100%;
}

.header_footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: rgba(5, 6, 32, 0.7);*/
  /*background-color: rgba(114, 137, 218, 1);*/
  background-color: #2c2f33;
}

.irene_links {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.logo_packed {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

.logo_text {
  margin-top: 5px;
  margin-left: 20px;
}

.login_discord_patreon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.discord_login_link {
  margin-left: 20px;
  background-color: #7289da;
  border-radius: 25px;
  padding-block: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  width: 100%;
  font-family: "Playfair Display", serif;
}

.irene_links li {
  display: inline-block;
  padding: 0 20px;
}

.irene_links li a {
  color: white;
  /* transition: all 0.3s ease 0s; */
}

.irene_links:hover {
  color: #e74d71;
}

p, li, a, .c_button {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #ecf0f1;
  text-decoration: none;
}

footer {
  width: 100%;
  /*position: absolute;*/
  height: 100px;
  bottom:0;
  left:0;
}

.stats_embed {
  position: relative;
  height: 1200px;
  width: 100%;
}

table {
  border-color: red;
  margin-bottom: 100px;
  background-color: white;
  align-items: center;
  width:100%;
  padding: 25px;
  border-radius: 15px;
}

td {
  padding: 10px;
  border-left: 5px solid #2c2f33;
  border-bottom: 5px solid #2c2f33;
  border-right: 5px solid #2c2f33;
}

th {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  border-bottom: 10px solid #2c2f33;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 100;
  color: #ecf0fc;
}

.commands {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

h5 {
  padding-top: 25px;
  padding-left: 150px;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: grey;
}

#copyright {
  padding-right: 25px;
}

.container {
  margin-top: 275px;
  margin-bottom: 290px;
  min-height: 100%;
  position: relative;
}

.about_sec {
  margin-left: 250px;
  margin-right: 250px;;
  border-color: grey;
  background-color: white;
  border-radius: 50px;
}

.op_stats {
  display: flex;
  padding: 50px;
}

#server_count, #user_count, #commands_used, #idol_photos  {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 30px;
  font-family: "Playfair Display", serif;

}

.title_desc {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#bot_title {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  padding-left: 25px;
  padding-right: 25px;
  font-style: bold;
}

#bot_desc{
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;

}

#discord_link {
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  color: gray;
  font-style: italic;
}